@font-face {
  font-family: 'Gotham';
  src: font-url('gotham/rounded/Gotham Rounded Light.otf')  format('opentype'),
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham/rounded/Gotham Rounded Book.otf')  format('opentype'),
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham/rounded/Gotham Rounded Medium.otf')  format('opentype'),
  font-weight: normal;
  font-style: medium;
}

@font-face {
  font-family: 'Gotham';
  src: font-url('gotham/rounded/Gotham Rounded Bold.otf')  format('opentype'),
  font-weight: bold;
  font-style: bold;
}